#Pagina1{
                    
    border: solid 1px;

    padding: 20px;
    width:     10%;
    margin: 0 auto;
    height: 1030px; /*LARGO DE LA PAGINA. Anteriormente 1000*/
    min-width: 750px;
    position: relative;
    top: 4px;
    /*width: 1396px;*/
    /*height: calc(100% - 38px);*/
    /*Borde con sombreado aqui:*/
    box-shadow: 0px 0px 5px 1px black;

    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,7db9e8+27 */
background: #ffffff; 


}



#Pagina2{
                    
    border: solid 1px ;

    padding: 20px;
    width:     1%;
    margin: 1% auto;
    height: 1030px;
    min-width: 750px;
    position:relative;
    top: 4px;
    
    /*width: 1396px;*/
    /*height: calc(100% - 38px);*/
    /*Borde con sombreado aqui:*/
    box-shadow: 0px 0px 5px 1px black;

    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,7db9e8+27 */
background: #ffffff; 
}



div#marcoGris{

    
    height:1004px; /*Anteriormente 973*/
    width:1%;    
    background-color:#4b4d6f;
    padding: 20px;    
    min-width: 284px;
    position: relative;
    top: -7px;
    left: -20px;
    
}


/*apartir de aqui solo lo correspondiente a texto*/

/*Parte compartida*/

#nombre{

    color: rgb(255, 255, 255);
    font-family: "Brush Script MT", cursive;
    font-size: 33px;
    text-align: center;
    line-height: 97%;
    letter-spacing: 0.1em;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -23px;

}

#titulacion{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:center;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -29px;
    
}

#barraTitulacion{

    height:2px;
    width: 250px;    
    background-color:#ffffff;    

    position: relative;
    top: -40px;
    left: 17px;

}

/* Pagina 1 / Columna 1*/

#tituloPerfilProfesional{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -27px;
    left: 17px;

}

.parrafoPerfilProfesional{

    color: rgb(255, 255, 255);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align:justify;
    font-size: 13px;
    width: 88%;; 

    /* Para la posicion en vertical:*/
    position: relative;
    top: -30px;
    left: 17px;    
}

/* Datos compartidos en ambas columnas*/

#tituloHabilidades{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -17px;
    left: 17px;

}

.Habilidades{

    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align:left;

    position: relative;
    top: -23px;
    left: 0px;
}

#tituloDatosPersonales{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -9px;
    left: 17px;

}

.datosPersonales{

    color: rgb(255, 255, 255);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align:left;
    font-size: 14px;
    width: 88%;; 

    /* Para la posicion en vertical:*/
    position: relative;
    top: -10px;
    left: -23px;  

    line-height: 130%

}

#link1{
    color: rgb(255, 255, 255);
}


/* Pagina 2 / columna 2 */

#tituloPerfilOcupacional{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: -27px;
    left: 17px;
}

.parrafoPerfilOcupacional{

    color: rgb(255, 255, 255);
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align:justify;
    font-size: 13px;
    width: 88%;; 

    /* Para la posicion en vertical:*/
    position: relative;
    top: -30px;
    left: 17px;

}


/*Barra Historial academico Pagina 1*/

#barraHistorialAcademico{

    height:34px;
    width: 345px;    
    background-color:#4b4d6f;   

    position: relative;
    top: -1015px;
    left: 365px;

}

.historialAca{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: 10px;
    left: 17px;
    
}

/*Apartir de aqui empezamos a agregar la informacion
del historial academico / Pagina 1 */

#cajaHistorialAcademico{

    height:938px; /*Anteriormente 973*/
    width:1%;    
    background-color:#ffffff;
    /*padding: 30px;*/    
    min-width: 345px;
    position: relative;
    top: -1005px;
    left: 365px;
}

.estudiosP{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -2px;
    left: 0px;
}

.estudios{

    color: #4b4d6f;;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: 2px;
    left: 0px;
}

.estudiosInfo{

    color: #4b4d6f;;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -8px;
    left: 0px;
}

.estudiosS{

    color: #4b4d6f;;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -14px;
    left: 0px;

}
.estudiosInfoS{

    color: #4b4d6f;;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -24px;
    left: 0px;

}

.estudiosSE{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -28px;
    left: 0px;

}

.estudiosInfoSE{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -40px;
    left: 0px;

}

.estudiosPE{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -18px;
    left: 0px;

}

.estudiosACA{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -18px;
    left: 0px;

}

.estudiosInfoACA{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -26px;
    left: 0px;

}

.estudiosSA{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -24px;
    left: 0px;
}

.estudiosInfoSA{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -32px;
    left: 0px;

}

.estudiosL{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -30px;
    left: 0px;
}

.estudiosInfoL{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -40px;
    left: 0px;

}

.estudiosXY{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -34px;
    left: 0px;

}

.estudiosX{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -30px;
    left: 0px;
}

.estudiosInfoX{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -44px;
    left: 0px;

}

.estudiosY{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -42px;
    left: 0px;
}

.estudiosInfoY{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -56px;
    left: 0px;

}

.estudiosZ{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -58px;
    left: 0px;
}

.estudiosInfoZ{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -70px;
    left: 0px;

}

.estudiosLA{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -24px;
    left: 0px;

}



/*Barra Experiencia Laboral Pagina 2*/

#barraExperienciaLaboral{

    height:34px;
    width: 345px;    
    background-color:#4b4d6f;   

    position: relative;
    top: -1015px;
    left: 365px;

}

.ExperienciaLaboral{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: 10px;
    left: 17px;
    
}


/* Apartir de aqui el texto para exp laboral*/

#cajaExperienciaLaboral{

    height:350px; /*Anteriormente 973*/
    width:1%;    
    background-color:#00ff22;
    /*padding: 30px;*/    
    min-width: 345px;
    position: relative;
    top: -1005px;
    left: 365px;
}

.tituloMon{

    color: #4b4d6f;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -2px;
    left: 0px;
}

.datosPersonalesx{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;

    text-align:left;
    position: relative;
    top: -8px;
    left: -24px;
}

.tituloGestion{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -7px;
    left: 0px;

}

.parrafoProyectosPersonales{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -14px;
    left: 0px;

}

.parrafoContinuacion{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    text-align:left;

    position: relative;
    top: -18px;
    left: 0px;
}

/*Barra Referencias personales Pagina 2*/

#barraReferenciasPersonales{

    height:34px;
    width: 345px;    
    background-color:#4b4d6f;   

    position: relative;
    top: -1005px;
    left: 365px;

}

.ReferenciasPersonales{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: 10px;
    left: 17px;
    
}

#cajaReferenciasPersonales{

    height:200px; /*Anteriormente 973*/
    width:1%;    
    background-color:#00ff22;
    /*padding: 30px;*/    
    min-width: 345px;
    position: relative;
    top: -1005px;
    left: 365px;
}

/*Texto referencias personales */

.tituloUno{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: 4px;
    left: 0px;
}

.parrafoUno{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -8px;
    left: 0px;
}


.tituloDos{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -7px;
    left: 0px;
}

.parrafoDos{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -20px;
    left: 0px;
}

.tituloTres{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -18px;
    left: 0px;
}

.parrafoTres{

    color: #4b4d6f;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    text-align:left;

    position: relative;
    top: -30px;
    left: 0px;
}

/*Barra Idiomas Pagina 2*/

#barraIdiomas{

    height:34px;
    width: 345px;    
    background-color:#4b4d6f;   

    position: relative;
    top: -990px;
    left: 365px;

}

.Idiomas{

    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 13px;
    text-align:left;
    /* Para la posicion en vertical:*/
    position: relative;
    top: 10px;
    left: 17px;
    
}

#cajaIdiomas{

    height:200px; /*Anteriormente 973*/
    width:1%;    
    background-color:#00ff22;
    /*padding: 30px;*/    
    min-width: 345px;
    position: relative;
    top: -970px;
    left: 365px;
}




body{
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
background: #e0dddd; 

}
